<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <div th:replace="~{fragments :: resources}"></div>
    <title>Document</title>
</head>
<body>
<header th:insert="fragments :: navbar"></header>

<h1>Movies</h1>

<!--deve essere un link che punta alla rispettiva pagina di dettaglio,
in cui mostrare tutti i dati dell’oggetto e non solo il titolo.-->
<ul>
    <li th:each="movie : ${movieList}">
        <a th:href="@{/movies/{movie_id}(movie_id = ${movie.id})}" th:text="${movie.title}"></a>
    </li>

</ul>
</body>
</html>